html {
	height: 100%;
}

body {
	height: 100%;
	color: #454343;
	font-family: 'Mulish', sans-serif;
}

h1 {
	margin-top: 5%;
	color: #454343;
	font-family: sans-serif, Verdana;
	text-align: center;
}

.container {
	height: 100%;
	width: 55%;
	position: relative;
	word-wrap: true;
	margin: auto;
	border-left: solid 10px skyblue;
}

.content-1 {
	padding: 10px;
	font-size: 16px;
	line-height: 1.8em;
	font-family: Helvetica, sans-serif;
}
